API_ID=27798659
API_HASH=26100c77cee02e5e34b2bbee58440f86
BOT_TOKEN=8791343605:AAEVDdJj-KWoAl1HorD8g0CMxHgOsUSRnDQ
SESSION_STRING=BAGoLIMAT8h8tmxdFNkNa_WreOGg5ZfjkmlW0GFkyk4HThHoS7F8A08DEOUodY9YUMGrlOe5hGk27jK1SNz6_aIJXfwzcUPurZJUfSD88XaITiySRNf1tZl03a8-x4SPztLATDakyXzlqAVYe2Vt2ElT4XeliDsecHMKnMHLW6MO4uW3J3-ZjaxSiq8NNSThuUEDbjeGzJc_DLTyYq_9rtsUCgnIW6ubSshF6ZK3zr2mvfcRK9-2Ajs_OYUj31RXt_BhcK0_g-3Uflm4zWhjXnBPEfMoiHnceffXEeSsCUa6zq_dR21hZe1K8zoWgY8WqMB_mNhrUei1zFptvKPqyz-RpC4K6gAAAAHxLD31AA
